bpelContent/freezer_service.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://freezer.pkg" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://freezer.pkg">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://freezer.pkg">
            <xs:element name="freezersync">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="t0" type="xs:int"/>
                        <xs:element minOccurs="0" name="t1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="freezersyncResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:double"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="freezerinit">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="freezerinitResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="OnDestroy">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="OnCreate">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="freezerpresync">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="pTout" type="xs:double"/>
                        <xs:element minOccurs="0" name="t0" type="xs:int"/>
                        <xs:element minOccurs="0" name="t1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="freezerpresyncResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="OnDestroyRequest">
        <wsdl:part name="parameters" element="ns:OnDestroy"/>
    </wsdl:message>
    <wsdl:message name="freezersyncRequest">
        <wsdl:part name="parameters" element="ns:freezersync"/>
    </wsdl:message>
    <wsdl:message name="freezersyncResponse">
        <wsdl:part name="parameters" element="ns:freezersyncResponse"/>
    </wsdl:message>
    <wsdl:message name="freezerinitRequest">
        <wsdl:part name="parameters" element="ns:freezerinit"/>
    </wsdl:message>
    <wsdl:message name="freezerinitResponse">
        <wsdl:part name="parameters" element="ns:freezerinitResponse"/>
    </wsdl:message>
    <wsdl:message name="OnCreateRequest">
        <wsdl:part name="parameters" element="ns:OnCreate"/>
    </wsdl:message>
    <wsdl:message name="freezerpresyncRequest">
        <wsdl:part name="parameters" element="ns:freezerpresync"/>
    </wsdl:message>
    <wsdl:message name="freezerpresyncResponse">
        <wsdl:part name="parameters" element="ns:freezerpresyncResponse"/>
    </wsdl:message>
    <wsdl:portType name="freezer_servicePortType">
        <wsdl:operation name="OnDestroy">
            <wsdl:input message="ns:OnDestroyRequest" wsaw:Action="urn:OnDestroy"/>
        </wsdl:operation>
        <wsdl:operation name="freezersync">
            <wsdl:input message="ns:freezersyncRequest" wsaw:Action="urn:freezersync"/>
            <wsdl:output message="ns:freezersyncResponse" wsaw:Action="urn:freezersyncResponse"/>
        </wsdl:operation>
        <wsdl:operation name="freezerinit">
            <wsdl:input message="ns:freezerinitRequest" wsaw:Action="urn:freezerinit"/>
            <wsdl:output message="ns:freezerinitResponse" wsaw:Action="urn:freezerinitResponse"/>
        </wsdl:operation>
        <wsdl:operation name="OnCreate">
            <wsdl:input message="ns:OnCreateRequest" wsaw:Action="urn:OnCreate"/>
        </wsdl:operation>
        <wsdl:operation name="freezerpresync">
            <wsdl:input message="ns:freezerpresyncRequest" wsaw:Action="urn:freezerpresync"/>
            <wsdl:output message="ns:freezerpresyncResponse" wsaw:Action="urn:freezerpresyncResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="freezer_serviceSoap11Binding" type="ns:freezer_servicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="OnDestroy">
            <soap:operation soapAction="urn:OnDestroy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="freezersync">
            <soap:operation soapAction="urn:freezersync" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="freezerinit">
            <soap:operation soapAction="urn:freezerinit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="OnCreate">
            <soap:operation soapAction="urn:OnCreate" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="freezerpresync">
            <soap:operation soapAction="urn:freezerpresync" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="freezer_service">
        <wsdl:port name="freezer_serviceHttpSoap11Endpoint" binding="ns:freezer_serviceSoap11Binding">
            <soap:address location="http://localhost:9090/Freezer/services/freezer_service.freezer_serviceHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
